Repository GitIt-CUK/server, pull requests merged in 2023-09, with the labels that each got.

#2 [Feat/#1] github-api 의존성 추가
  build.gradle
  src/main/java/shop/gitit/GititApplication.java
  src/test/java/shop/gitit/GititApplicationTests.java
Labels: feat

#9 [Fix/#6] 회원 document 필드 수정
  src/main/java/shop/gitit/member/domain/Member.java
  src/main/java/shop/gitit/member/domain/color/GrassColor.java
  src/main/java/shop/gitit/member/domain/goods/Goods.java
  src/main/java/shop/gitit/member/domain/rankinfo/RankInfo.java
  src/main/java/shop/gitit/member/exception/PointViolationException.java
  src/test/java/shop/gitit/member/domain/MemberTest.java
  src/test/java/shop/gitit/member/domain/goods/GoodsTest.java
Labels: fix, size/L

#15 [Feat/#7] 포인트 조회 API 테스트 & 구현
  build.gradle
  src/docs/ascidoc/gitit.adoc
  src/main/java/shop/gitit/GititApplication.java
  src/main/java/shop/gitit/core/baseentity/BaseEntity.java
  src/main/java/shop/gitit/payment/controller/PaymentController.java
  src/main/java/shop/gitit/payment/controller/mapper/PaymentMapper.java
  src/main/java/shop/gitit/payment/controller/response/GetPointRes.java
  src/main/java/shop/gitit/payment/domain/Wallet.java
  src/main/java/shop/gitit/payment/domain/memberId/MemberId.java
  src/main/java/shop/gitit/payment/exception/NoWalletException.java
  src/main/java/shop/gitit/payment/repository/PaymentRepository.java
  src/main/java/shop/gitit/payment/service/GetPointService.java
  src/main/java/shop/gitit/payment/service/dto/request/GetPointReqDto.java
  src/main/java/shop/gitit/payment/service/dto/response/GetPointResDto.java
  src/main/java/shop/gitit/payment/service/usecase/GetPointUsecase.java
  src/test/java/shop/gitit/github/domain/commitcount/CommitCountTest.java
  src/test/java/shop/gitit/github/domain/grasscolor/GrassColorTest.java
  src/test/java/shop/gitit/github/domain/tier/TierTest.java
  src/test/java/shop/gitit/github/support/githubinfo/commitcount/CommitCountFixture.java
  src/test/java/shop/gitit/github/support/githubinfo/grasscolor/GrassColorFixture.java
  src/test/java/shop/gitit/github/support/githubinfo/tier/TierFixture.java
  src/test/java/shop/gitit/member/domain/MemberTest.java
  src/test/java/shop/gitit/member/domain/memberprofile/MemberProfileTest.java
  src/test/java/shop/gitit/member/domain/support/member/MemberFixture.java
  src/test/java/shop/gitit/member/domain/support/member/authority/AuthorityFixture.java
  src/test/java/shop/gitit/member/domain/support/member/memberprofile/MemberProfileFixture.java
  src/test/java/shop/gitit/payment/controller/PaymentControllerTest.java
  src/test/java/shop/gitit/payment/repository/PaymentRepositoryTest.java
  src/test/java/shop/gitit/payment/service/GetPointServiceTest.java
  src/test/java/shop/gitit/payment/support/payment/WalletFixture.java
  src/test/java/shop/gitit/restdochandler/RestDocsHandler.java
Labels: feat, fix, docs, size/L, PAYMENT

#17 [Feat/#10] 닉네임 수정 API 테스트 & 구현
  src/docs/ascidoc/gitit.adoc
  src/main/java/shop/gitit/core/SecurityConfig.java
  src/main/java/shop/gitit/member/controller/MemberController.java
  src/main/java/shop/gitit/member/controller/mapper/MemberMapper.java
  src/main/java/shop/gitit/member/controller/request/UpdateMemberNickNameReq.java
  src/main/java/shop/gitit/member/exception/NoMemberException.java
  src/main/java/shop/gitit/member/service/UpdateNickNameService.java
  src/main/java/shop/gitit/member/service/dto/request/UpdateMemberNickNameReqDto.java
  src/main/java/shop/gitit/member/service/dto/response/UpdateMemberNickNameResDto.java
  src/main/java/shop/gitit/member/service/usecase/UpdateNickNameUsecase.java
  src/test/java/shop/gitit/member/controller/MemberControllerTest.java
  src/test/java/shop/gitit/member/service/UpdateNickNameServiceTest.java
Labels: feat, docs, size/L, MEMBER

#16 [Feat/#8] 컬러칩 뽑기 API 테스트 & 구현
  src/docs/ascidoc/gitit.adoc
  src/main/java/shop/gitit/core/event/handler/ChangedColorChipHandler.java
  src/main/java/shop/gitit/core/event/handler/DrewColorChipHandler.java
  src/main/java/shop/gitit/github/domain/GitHubInfo.java
  src/main/java/shop/gitit/github/domain/grasscolor/GrassColor.java
  src/main/java/shop/gitit/github/exception/NoGitHubInfoException.java
  src/main/java/shop/gitit/github/repository/GitHubInfoRepository.java
  src/main/java/shop/gitit/github/service/ChangeColorChipService.java
  src/main/java/shop/gitit/github/service/dto/request/ChangeColorChipReqDto.java
  src/main/java/shop/gitit/github/service/usecase/ChangeColorChipUsecase.java
  src/main/java/shop/gitit/payment/domain/Wallet.java
  src/main/java/shop/gitit/payment/service/GetPointService.java
  src/main/java/shop/gitit/payment/service/PaymentService.java
  src/main/java/shop/gitit/payment/service/dto/PayReqDto.java
  src/main/java/shop/gitit/payment/service/helper/PaymentServiceHelper.java
  src/main/java/shop/gitit/payment/service/usecase/PaymentUsecase.java
  src/main/java/shop/gitit/shop/controller/ShopController.java
  src/main/java/shop/gitit/shop/controller/mapper/ShopMapper.java
  src/main/java/shop/gitit/shop/controller/request/DrawColorChipReq.java
  src/main/java/shop/gitit/shop/domain/Shop.java
  src/main/java/shop/gitit/shop/domain/service/PaymentCompletionChecker.java
  src/main/java/shop/gitit/shop/service/DrawColorChipService.java
  src/main/java/shop/gitit/shop/service/dto/request/DrawColorChipReqDto.java
  src/main/java/shop/gitit/shop/service/dto/response/DrawColorChipResDto.java
  src/main/java/shop/gitit/shop/service/event/ChangedColorChipEvent.java
  src/main/java/shop/gitit/shop/service/event/DrewColorChipEvent.java
  src/main/java/shop/gitit/shop/service/usecase/DrawColorChipUsecase.java
  src/test/java/shop/gitit/github/domain/GitHubInfoTest.java
  src/test/java/shop/gitit/shop/controller/ShopControllerTest.java
  src/test/java/shop/gitit/shop/service/DrawColorChipServiceTest.java
  src/test/java/shop/gitit/shop/support/ServiceDtoFixture.java
Labels: feat, docs, SHOP, size/XL

#19 [Feat/#12] 회원 탈퇴 API 테스트 & 구현
  src/docs/ascidoc/gitit.adoc
  src/main/java/shop/gitit/member/controller/MemberController.java
  src/main/java/shop/gitit/member/service/WithdrawnService.java
  src/main/java/shop/gitit/member/service/usecase/WithdrawnUsecase.java
  src/test/java/shop/gitit/member/controller/MemberControllerTest.java
  src/test/java/shop/gitit/member/service/WithdrawnServiceTest.java
Labels: feat, docs, size/L, MEMBER

#22 [Fix/#21] nickname 컬럼명 통일
  src/main/java/shop/gitit/member/controller/mapper/MemberMapper.java
  src/main/java/shop/gitit/member/controller/request/UpdateMemberNickNameReq.java
  src/main/java/shop/gitit/member/service/UpdateNickNameService.java
  src/main/java/shop/gitit/member/service/dto/request/UpdateMemberNickNameReqDto.java
  src/main/java/shop/gitit/member/service/dto/response/UpdateMemberNickNameResDto.java
  src/test/java/shop/gitit/member/controller/MemberControllerTest.java
  src/test/java/shop/gitit/member/service/UpdateNickNameServiceTest.java
Labels: fix, MEMBER, size/S

#24 [Feat/#23] 커밋 기록 요약 조회
  src/docs/ascidoc/gitit.adoc
  src/main/java/shop/gitit/core/util/DateUtil.java
  src/main/java/shop/gitit/github/client/GitHubClient.java
  src/main/java/shop/gitit/github/controller/GitHubController.java
  src/main/java/shop/gitit/github/exception/GitHubCommitListNullException.java
  src/main/java/shop/gitit/github/exception/GitHubCommitShortInfoInvalidException.java
  src/main/java/shop/gitit/github/exception/GitHubGetRepositoriesInvalidException.java
  src/main/java/shop/gitit/github/exception/GitHubInvalidException.java
  src/main/java/shop/gitit/github/service/CommitsDescriptionService.java
  src/main/java/shop/gitit/github/service/dto/response/GetCommitsDescriptionResDto.java
  src/main/java/shop/gitit/github/service/usecase/CommitsDescriptionUsecase.java
  src/main/java/shop/gitit/member/service/dto/response/GetMemberProfileResDto.java
  src/test/java/shop/gitit/github/controller/GitHubControllerTest.java
  src/test/resources/application.yml
Labels: feat, docs, size/L, GITHUB-INFO
